.todayContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 40px;
}
.currentWeather{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 0 40px 30px 40px;
    font-size: 25px;
}
.currentWeather__header{
    display: flex;
    justify-content: space-between;
}
.weatherDate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    text-align: right;
}
.catImg{
    display: flex;
    justify-content: center;
    padding: 40px;
    border: 1px solid orange;
    border-radius: 10px;
}
.catImg img{
    box-sizing: border-box;
    width: 90%;
}
.weatherInfo{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.weatherInfo__main{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-end;
    font-size: 20px;
}
.temp{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 135px;
    font-weight: 400;
}
.weatherImg{
    height: 150px;
}