.city_name{
  text-align: center;
  margin: 40px 0;
  font-size: 45px;
  line-height: 100%;
  font-weight: 500;
}
.cantFind{
  font-size: 45px;
  text-align: center;
  margin-top: 30px;
}
.app__container{
  max-width: calc(100vw/1.15);
  margin: 0 auto;
}
.city_name>strong{
  color: orange;
}
