.city__form{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
    align-items: center;
}
.city__input{
    padding: 2px;
    outline: 0;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid black;
    font-weight: bold;
    max-width: 150px;
}
.title{
    margin: 0;
    font-size: 20px;
}